<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Books App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'library.css' %}">
    <style>
    .navbar1{
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        min-width: 1280px;
        height: 66px;
        background-color: rgba(17,17,17,0.75);
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
    }
    </style>
</head>
<body style="background-color: grey;">
    <nav class="navbar1">
        <div class="navbar-wrap">
            <div class="nav">
            <a href="library" class="nav-item">Library App</a>
            <a href="{% url 'admin:index' %}" class="nav-item">Admin</a>
            <a href="{% url 'upload-book' %}" class="nav-item">Upload Books</a>
            </div>
        </div>
    </nav>
<br>
{% block content %}
    <div class="container">
        {% for book in shelf %}
        <div class="card-colums row align-items-center d-flex justify-content-center">

            <div class="card flex mt-4 center" style="width: 25rem ;">
                <img class="img" width="300px" src="{{ book.picture.url }}">
            <div class="card-body flex">
                <h6 class="judul">{{ book.name }}</h6>
                <p>{{ book.describe|truncatewords:40 }}</p>
            <div class="card-footer bg-transparent border-dark ">
                <p class="card-title">{{book.author}}</p>
            <center>
                <a href="detail/{{book.id}}" class="btn btn-primary" id= '{{book.id}}' >details</a>
                <a href="update/{{book.id}}" class="btn btn-warning" id = '{{book.id}}'>edit</a>
                <a href="delete/{{book.id}}" class="btn btn-danger" id = '{{book.id}}'>delete</a>
            </center>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
</body>
</html>